.block-container {
    background-color: darkslategrey;
    border: 2px solid black;
    width: 100vs;
    height: 500vw;
    align-content: center;
    font-size: 75pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1 {
    display: inline;
    font-size: 75px;
    font-family: cursive;
    align-content: left;
}

.pretty-wolf {
    position: relative;
    align-self: right;
}

.gray-wolf {
    position: relative;
    align-self: left;
}

.p {
    position: relative;
    align-content: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.forest-dalmation {
    position: relative;
    align-self: right;
}

.dog-on-pot {
    position: relative;
    align-self: right;
}

.div {
    background-color: darkslategrey;
    border: 2px solid black;
    width: 100vs;
    height: 500vw;
    align-content: center;
    font-size: 75pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}